
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hepta+Slab:wght@1..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #2D2726;
    line-height: 1.6;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #2D2726;
    border-bottom: 1px solid #776562;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    font-family: "Prompt", sans-serif;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-family: "Hepta Slab", serif;
}

header nav a:hover {
    text-decoration: underline;
}


.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 8vw;
    font-weight: 500;
    color: #E6D8D6;
    margin-bottom: 20px;
    font-family: "Hepta Slab", serif;
}

.hero img {
    max-width: 100%;
    border-radius: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px;
}

.gallery-item {
    text-align: center;
}

.gallery-item img {
    max-width: 100%;
    border-radius: 10px;
}

.gallery-item h3 {
    margin: 10px 0 5px;
    font-family: "Prompt", sans-serif;

}

.gallery-item p {
    font-size: 14px;
    color: #bbb;
    font-family: "Prompt", sans-serif;
}

.contact {
    text-align: center;
    padding: 50px;
    background-color: #2D2726;
}

.contact h2 {
    font-size: 32px;
    margin-bottom: 10px;
    font-family: "Hepta Slab", serif;

}

.contact p {
    margin-bottom: 20px;
    color: #bbb;
    font-family: "Prompt", sans-serif;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact .form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-top: 0.5px solid #E6D8D633;
    background-color: #E6D8D633;
    border-radius: 5px;
}

.contact button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #e55d00;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2D2726;
    position: relative;
    border-top: 1px solid #7b6d6a;
}

footer .subscribe {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2D2726;
    border: 1px solid #7b6d6a;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

footer .subscribe:hover {
    background-color: #e55d00;
}