
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hepta+Slab:wght@1..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: #2D2726;
    line-height: 1.6;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #2D2726;
    border-bottom: 1px solid #776562;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
    font-family: "Prompt", sans-serif;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-family: "Hepta Slab", serif;
}

header nav a:hover {
    text-decoration: underline;
}


.hero {
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 8vw;
    font-weight: 500;
    color: #E6D8D6;
    margin-bottom: 20px;
    font-family: "Hepta Slab", serif;
}

.hero img {
    max-width: 100%;
    border-radius: 10px;
}

